@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #001233;
}

/* .cardShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
} */

/* to remove scrollbar */
html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.progress-bar {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
  z-index: 500;
}
